	<html>
		<head>
			<title> Colors Mural Design </title>
			<%= stylesheet_link_tag "/stylesheets/reset.css" %>
			<%= stylesheet_link_tag "/stylesheets/home.css" %>
		</head>

		<body>
			<h1 class="logo">Logo</h1>
			<p>We create quality, professional murals that are as unique as you.</p>
		</body>
	 </html>