body {
  font-family: 'Hammersmith One', sans-serif;
  background-color: #F9F2E7;
}

h1.logo{
  background: url("/images/logo.png") no-repeat;
  text-indent: -99999px;
  width: 450px;
  height: 252px;
  display: block;
  margin: 25px auto 0;
}

container{
  width: 960px;
  margin: 0 auto;
  display: block;
}

#showcase{
  width: 960px;
  margin: 40px auto;
  text-align: center;
}

#showcase > img{
  background: white;
  border: 1px solid #CCC;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  padding: 4px;
}

#showcase > header{
  margin: 0 auto;
  width: 625px;
  font-size: xx-large;
    padding: 15px;
    text-shadow: 0px 0px 1.2px #000;
}